<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

        <!-- style -->
        <link href="assets/css/main.css" rel="stylesheet" type="text/css">


        <!-- lib -->
        <script src="assets/js/lib/vue.min.js"></script>
        <script src="assets/js/lib/tween.umd.js"></script>
        <script src="assets/js/lib/simplex-noise.2.3.0.min.js"></script>


        <!-- const -->
        <script src="assets/js/const/const.js"></script>


        <!-- object -->
        <script src="assets/js/object/object.js"></script>
    </head>
    <body>
        <div id="wrap" v-cloak>

            <div id="object">
                <canvas id="canvas"></canvas>
            </div>

            <div id="element">

                <div class="ui open">
                    <div class="open-element-container">

                        <div class="open-element open-text-container">
                            <ul class="open-text">
                                <li 
                                    v-for="i in getElement('open', 'text')"
                                    :key="i.key"
                                    :style="i.style"
                                ><span>{{i.text + ' ' + i.loading}}</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="ui map">
                    <div class="map-object-container">
                        <div class="map-object"></div>
                    </div>
                </div>

                <div class="ui left">

                    <div class="left-section left-section-1">

                        <div class="left-container left-player-container">
                            <div class="left-player">
                                <div class="left-player-control"></div>
                                <div class="left-player-list">
                                    <div
                                        class="left-player-list-music"
                                        v-for="i in getElement('left', 'player')"
                                        :key="i.key"
                                        :style="i.style"
                                    >
                                        <div><span>{{i.title}}</span></div>
                                        <div><span>{{i.duration}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="left-container left-clock-container">
                            <div class="left-clock"></div>
                        </div>

                    </div>

                </div>
                
            </div>

        </div>
        <script src="assets/js/main.js" type="module"></script>
    </body>
</html>