@import './left.player.css';
@import './left.clock.css';
@import './left.text.css';
@import './left.border.css';
@import './left.version.css';



div.trackBar{
    width: 100%;
    height: 2px;
    background: #32eaff55;
}
div.currentBar{
    width: 100%;
    height: 2px;
    background: #32eaff;
    transform-origin: left;
}



/* left */
div.left{
    position: absolute;
    top: 50%;


    /* normal */
    /* transform: translate(0, -50%); */
    /* height: 95vmin; */
    /* left: 16px; */


    /* transform */
    height: 80vmin;
    transform: translate(0, -50%) rotateY(54deg);
    left: 4px;


    display: flex;
    flex-direction: row;
    font-family: RobotoRegular;
    color: #32eaff;
    align-items: center;
    gap: 20px;
}



/* left section */
/* div.left-section{

} */



/* left section 1 */
div.left-section-1{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 100%;
    gap: 30px;
}
div.left-section-1 > div{
    width: 100%;
}



/* left section 2 */
div.left-section-2{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: end;
    width: 30rem;
    height: 100%;
    gap: 14px;
}
