/* left */
div.left{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    /* width: 50vmax; */
    height: 95vmin;
    display: flex;
    flex-direction: row;
}

/* left column */
/* div.left-column{

} */

/* left column 1 */
div.left-column-1{
    display: flex;
    flex-direction: column;
    width: 35rem;
    gap: 30px;
}
div.left-column-1 > div{
    width: 100%;
}

/* left player */
div.left-player-container{
    flex: 0.85;
    /* box-sizing: border-box; */
    /* border: 1px solid #32eaff44; */
}

/* left clock */
div.left-clock-container{
    flex: 0.15;
}