@import './left.css';

@font-face {
    font-family: RobotoRegular;
    src: url('../font/Roboto-Regular.ttf');
}
@font-face {
    font-family: RobotoMonoRegular;
    src: url('../font/RobotoMono-Regular.ttf');
}
@font-face {
    font-family: OpenSansRegular;
    src: url('../font/OpenSans-Regular.ttf');
}


/* hide vue syntax when load */
[v-cloak] {display: none;}


/* init */
html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    overflow: hidden;
    position: absolute;
    color: #32eaff;
    font-family: RobotoMonoRegular;
    font-size: 1.4rem;
}
ul{
    text-decoration: none;
    list-style: none;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
    /* filter: drop-shadow(0 0 10px #ffffff); */
}


/* open */
div.open{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}
div.open-element-container{
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 1.0;
    transition: opacity 0.3s;
}
/* open text */
div.open-text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul.open-text li{
    text-overflow: clip;
    white-space: nowrap;
}


/* map */
div.map{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}
div.map-object-container{
    width: 100%;
    height: 100%;
}
div.map-object{
    width: 100%;
    height: 100%;
}


/* media query */
@media only screen and (max-width: 600px) { html{font-size: 9px;} }
@media only screen and (max-width: 601px) and (min-width: 1279px) { html{font-size: 10px;} }
@media only screen and (min-width: 1280px) { html{font-size: 10px;} }